@model Loja.Web.Models.ProdutoModel
@{
    ViewBag.Title = "Listar Produtos";
}

<link href="~/Content/estilo.css" rel="stylesheet" />

<p>
    <a href="~/Produto/Cadastrar">Cadastrar Produto</a>
</p>
<div>
    @foreach (var produto in Model.ProdutosModel)
    {
        <p class="paragrafo">
            <strong>@produto.Nome</strong>
            <br>
            R$@produto.Valor

                <a href="~/Produto/Editar?Id=@produto.Id">Editar</a>
                <a href="~/Produto/Excluir?Id=@produto.Id">Excluir</a>
            </p>
    }
    </div>
