
@{
    ViewBag.Title = "Home Page";
}

<h1>Lista de pré inscritos</h1>

<div class="row">
    <div class="col-lg-12 col-md-12" id="lista-pre">

    </div>
</div>


<hr />

<h1>Lista de aprovados</h1>
<div class="row">
    <div class="col-lg-12 col-md-12" id="lista-aprovados">

    </div>
</div>
  
@section js {
    <script>
        listagemUsuario.iniciar();
    </script>
}
