
@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<h1>Lista de pré inscritos</h1>
<div id="tabela-pre">
    <table class="table">
        <thead id="descricao">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Data de nascimento</th>
                <th>Nº documento</th>
            </tr>
        </thead>
        <tbody id="pre-inscritos"></tbody>
    </table>
  </div>

<br />

<h1>Lista de aprovados</h1>
<div id="tabela-aprovados">
    <table class="table">
        <thead id="descricao">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Data de nascimento</th>
                <th>Nº documento</th>
            </tr>
        </thead>
        <tbody id="aprovados"></tbody>
    </table>
</div>
  
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/App/listaPreInscritos.js"></script>
<script src="~/Scripts/App/listaInscritos.js"></script>

