
@{
    ViewBag.Title = "TelaPrincipal";
}
<link href="~/Content/Estilo.css" rel="stylesheet" />

<div id="pagina" class="gothic-font">
    <div class="titulo">
        <h1>Final da Copa do Brasil</h1>
    </div>
    <div class="confronto">
        <span class="gremio">Grêmio</span>
        <span id="versus"> X </span>
        <span class="atletico">Atlético-MG</span>
    </div>
</div>
