@model StreetFighter.Web.Models.ListaPersonagensModel

@{
    ViewBag.Title = "Lista de personagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="faixa">
        <strong>@ViewBag.Title</strong>
    </div>
    <div>
        <p>
            <a href="~/StreetFighter/Cadastro">Cadastrar Personagem</a>
        </p>
        
        <ul>
            @*foreach(var personagem in Model.ListaDePersonagens){}*@
                <li>eduardo</li>
            
        </ul>

    </div>
</div>


