@model StreetFighter.Dominio.Personagem

@{
    ViewBag.Title = "Lista de personagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="faixa">
        <strong>@ViewBag.Title</strong>
    </div>
    <div>
        <p>
            <a href="~/StreetFighter/Cadastro">Cadastrar Personagem</a>
            <style> </style>
        </p>
    </div>
</div>