@model StreetFighter.Web.Models.ListaPersonagensModel

@{
    ViewBag.Title = "Lista de personagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="faixa">
        <strong>@ViewBag.Title</strong>
    </div>
    <div>

        <p>
            <a href="~/StreetFighter/Cadastro">Cadastrar Personagem</a>
        </p>

        @if (Model != null)
        {
        <ul>
            @foreach (var personagem in Model.ListaPersonagens)
            {
                <li class="personagem">
                    <strong>@personagem.Nome</strong>
                </li>
            }
        </ul>
        } 
        else{ <span>Não há personagens cadastrados</span> } 
    </div>
</div>
