@model List<StreetFighter.Dominio.Personagem>

@{
    ViewBag.Title = "Lista de personagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<strong>@ViewBag.Title</strong>

<p>
    <a href="~/StreetFighter/Cadastro">Cadastrar Personagem</a>
</p>
     @foreach (var personagem in Model)
     {
        <tr>
            <td><strong>@Html.ActionLink(personagem.Nome, "FichaTecnica", new { id = personagem.Id })</strong></td>
        </tr>
     }
