@using System.Configuration;

@{
    ViewBag.Title = "TelaPrincipal";
}
<link href="~/Content/Estilo.css" rel="stylesheet" />

@using (Html.BeginForm("Login", "Usuario", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div>
        <div>
            <button type="submit" id="btn-login">Login</button>
        </div>
    </div>
}

@using (Html.BeginForm("Listagens", "Usuario", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div>
        <div>
            <button type="submit" id="btn-inscritos">Listagem de inscritos</button>
        </div>
    </div>
}

<div id="pagina" class="gothic-font">
    <div class="titulo">
        <h1>Final da Copa do Brasil</h1>
    </div>
    <div class="confronto">
        <span class="gremio">Grêmio</span>
        <span id="versus"> X </span>
        <span class="atletico">Atlético-MG</span>
    </div>
    <p id="texto-chamada">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
         esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </p>
  <!--<script>
        var varName= 'ARROBA System.Configuration.ConfigurationManager.AppSettings["VagasRestantes"]';
    </script>-->  
    <div id="inscricao">
        <span id="n-vagas" class="box-vagas">Nº de vagas restantes: @ConfigurationManager.AppSettings["VagasRestantes"]</span>
        <span id="box-inscrever">
            <a id="link-escrever" href="~/TelaPrincipal/Cadastro">Quero me inscrever</a>
        </span>
    </div>
</div>
