
@{
    ViewBag.Title = "TelaPrincipal";
}
<link href="~/Content/Estilo.css" rel="stylesheet" />

<div id="pagina" class="gothic-font">
    <div class="titulo">
        <h1>Final da Copa do Brasil</h1>
    </div>
    <div class="confronto">
        <span class="gremio">Grêmio</span>
        <span id="versus"> X </span>
        <span class="atletico">Atlético-MG</span>
    </div>
    <!-- <div>
       <img 
            src="https://1.bp.blogspot.com/-B67Tgb896nc/V0d2eptIR8I/AAAAAAAAI5U/wAnVNrtxUcIP9Lz5G4Kp4cNL_rTDT85ngCLcB/s1600/gr%25C3%25AAmio-x-galo.jpg"
        />
    </div>-->
</div>
