
@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />


<div id="tabela-pre">
    <table class="table">
        <thead id="descricao">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Data de nascimento</th>
                <th>Nº documento</th>
            </tr>
        </thead>
        <tbody id="pendentes"></tbody>
    </table>
  </div>

    
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/App/listaPreInscritos.js"></script>
